:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.ContactList {
  min-width: 800px;
}

.ContactListItem {
  display: flex;
  align-items: center;
  padding: 12px;

  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.ContactListItem + .TaskListItem {
  margin-top: 12px;
}

.Text {
  display: flex;
}

.ContactListText {
  margin-right: 16px;
  border-radius: 3px;
}

.ContactListActions {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.ContactListButton {
  margin-right: 4px;
  margin-left: 4px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ContactListItem {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.ContactListItem:hover {
  transform: scale(1.03);
}
